body {
  background: rgb(50,50,50);
  margin: 0px;
  font-family: 'Helvetica', 'Arial', Sans-serif;
  font-weight: 300;
  height: 100%;
  min-height: 100% !important;
}

canvas {
  image-rendering: pixelated;
}